---
permalink: "notes/{{ page.fileSlug | slugify }}/"
---

{% extends "base.njk" %}

{% block body %}
  {% include "components/notegrowthhistory.njk" %}

  {% if settings.dgShowFileTree !== true %}
    {% include "components/navbar.njk" %}
  {% else %}
    {% include "components/filetree.njk" %}
  {% endif %}

  {% if settings.dgEnableSearch %}
    {% include "components/search.njk" %}
  {% endif %}

  <main class="content">
    <h1>{{ title }}</h1>
    <article>
      {{ content | safe }}
    </article>
  </main>
{% endblock %}
