---
permalink: "/"
---

{% extends "base.njk" %}

{% block body %}
  {% if settings.dgShowFileTree !== true %}
    {% include "components/navbar.njk" %}
  {% else %}
    {% include "components/filetree.njk" %}
  {% endif %}

  {% if settings.dgEnableSearch %}
    {% include "components/search.njk" %}
  {% endif %}

  <main class="content">
    <h1>{{ site.title }}</h1>
    <section class="home-intro">
      {{ content | safe }}
    </section>

    <section class="note-list">
      <ul>
        {% for note in collections.notes | sort(attribute='date', reverse=true) %}
          <li>
            <a href="{{ note.url }}">{{ note.data.title or note.fileSlug }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}
